body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}


/* 999999 */
html {
    background: #F5F5F5;
    padding-top: 44px;
    /* width: 100vh; */


}
.transit{
    font-family: 'Barlow';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.923077px;
            text-transform: uppercase;
            color: #83888F;
            text-decoration: none;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

$conteiner:1280px;

.header {
    max-width: $conteiner;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    &__logo {

        &-a {}
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 34px;
        align-items: center;

        &-item:hover {
            color: #333D4B;
            cursor: pointer;
        }

     
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Barlow";
  
  .paragraph{
    font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
} 
.paragraph {
}

h3{ font-family: "Fraunces";
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
}
h2{
    text-align: left;
            font-family: 'Fraunces';
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
           

}
h4{
    font-family: 'Fraunces';
    font-style: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color: #333D4B;
    margin-bottom: 42px;

}
    .backround_aboutus {
        width: 100%;
        min-width: $conteiner;
        min-height: 450px;
        background:
            url(./about_us/img_about_us/Bitmap.jpg);
        background-repeat: no-repeat;
        border-radius: 10px;
        padding: 137px 85px;
        margin-bottom: 168px;

		&__content {
            max-width: 445px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
		}

		&__title {
            color: #FEFCF7;
            margin-bottom: 24px;
            
		}

		&__text {
            color: #FEFCF7;
		}
}

.ourcommitment {

    &__conteiner {
        width: 100%;
        max-width: $conteiner;
        min-height: 520px;
        display: flex;
        flex-direction: row;
        gap:125px;
        align-items: center;
        margin-bottom: 256px;

        &-content {
            max-width: 540px;

        }

        &-content_title {
            color:#333D4B;
            margin-bottom: 32px;
        }

        &-content_text {
            color:#333D4B;
        }
    }
}

.Uncompromising {
    width: 100%;
    max-width: $conteiner;
    background-color: #2C343E;
    border-radius: 10px;
    min-height: 474px;
    margin-bottom: 168px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    gap: 125px;




    &__article {
        max-width: 640px;
        max-height: 210px;
        padding-top: 88px;
        padding-left: 85px;
        

        &-title {
            color:#FEFCF7;
            margin-bottom: 32px;
        }

        &-text {
            color:#FEFCF7;
        }
    }

    &__image {
       position: relative;
       top:-88px;
      
      .image{
        border-radius: 10px;
      }  
    }
    
}

.paragraph {
}

.Ourheadquarters {
    width: 100%;
    max-width: 1045px;
    margin-bottom: 168px;
    

    &__title {
        margin-bottom: 72px;
    }

    &__conteiner {
        display: flex;
        flex-direction: row;
        gap:95px;
        

        .uk {  
            margin-bottom: 46px;
        }

        &-text {
            min-width: 285px;
          
        }

        .canada {
            margin-bottom: 45px;
        }

        .australia {
            margin-bottom: 48px;
        }
    }
}
.paragraph {
}





}

    

    

    






  




    .works_conteiner {
        max-width: $conteiner;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 85px;

        max-height: 565px;
        margin-bottom: 64px;


        &__title {
            text-align: left;
            font-family: 'Fraunces';
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
            margin-bottom: 80px;

        }

        .decoration_navigation {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            // padding: 0 85px;


            &__item {
                display: flex;
                align-items: center;


                margin-bottom: 67px;
                width: 380px;



                &-circle {
                    width: 31px;
                    height: 31px;
                    border: 2px solid #0E8784;
                    border-radius: 100%;
                }

                &-line {
                    width: 350px;
                    border-top: 2px solid #FDD6BA;
                }
            }
        }

        &__items {

            max-width: 1055px;
            height: 355px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 95px;



            &-text {
                width: 350px;

            }

            &-text_number {

                font-family: 'Fraunces';
                font-style: normal;
                font-size: 72px;
                line-height: 72px;
                text-align: left;
                color: #FDD6BA;
                margin-bottom: 42px;
            }


            &-text_article {
                font-family: 'Fraunces';
                font-style: normal;
                font-size: 32px;
                line-height: 36px;
                text-align: left;
                color: #333D4B;
                margin-bottom: 42px;
            }

            &-text_info {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: left;
                color: #333D4B;
            }
        }

        &__text {}

    }

    .create {
        width: 100%;
        max-width: $conteiner;
        margin-bottom: 200px;
        padding: 0 85px;
        display: flex;
        justify-content: flex-start;

    }



.footer {
    width: 100%;
    max-width: $conteiner;
    min-height: 120px;
    background-color: #2C343E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
   
    &__nav {  
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:103px; 
        &-logo {
            display: flex;
            justify-content: space-between; 
        }
        &-logo_a{
            width: 236px;
            height: 26px;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 34px;
            align-items: center;
        }
        &-item_a:hover{
            color:#FEFCF7
        }
    }

    &__icon {

        &-nav {
            
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 34px;
            align-items: center;
        }

        &-nav a {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        }

        &-nav_facebook {
            background: url(./img/f.svg);

        }
        &-nav_facebook:hover{
            background-image: url(./img/f2.svg);}

        &-nav_twitter {
            background: url(./img/t.svg);
            }
            &-nav_twitter:hover {
                background-image: url(./img/t2.png);
        }

        &-nav_instagram {
            background: url(./img/i.svg);
                  }
        &-nav_instagram:hover {
            background-image: url(./img/i2.svg);}
    }

    


}
