body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}




/* 999999 */
html {
    background: #F5F5F5;
    padding-top: 44px;
    /* width: 100vh; */


}

.transit {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

$conteiner:1280px;

.header {
    max-width: $conteiner;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    &__logo {

        &-a {}
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 34px;
        align-items: center;

        &-item:hover {
            color: #333D4B;
            cursor: pointer;
        }
    }

    &__menu-btn {

        display: none;

    }

   
}

button {
    border-radius: 6px;
    background: #0E8784;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 16px 32px;
    border: none;
}

button:hover {
    background-color: #66D2CF;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


    .backround_conteiner {

        width: 100%;
        max-width: $conteiner;
        min-height: 600px;
        background:
            url(./img/Bitmap.svg);
        background-repeat: no-repeat;
        background-position: 0px -531px;
        border-radius: 10px;
        padding: 117px 85px;

        .tlo {
            display: none;
        }

        &__content {

            width: 493px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__title {
            font-family: 'Fraunces';
            font-weight: 900;
            font-size: 72px;
            color: #FEFCF7;
            line-height: 72px;
            margin-bottom: 32px;
        }

        &__text {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #FEFCF7;
            mix-blend-mode: normal;
            opacity: 0.8;
            margin-bottom: 56px;
        }

    }

    .collection_conteiner {
        max-width: $conteiner;

        min-height: 525px;
        margin-top: 140px;
        margin-bottom: 200px;

        &__tlo {
            position: relative;
            top: 86px;
            background: -webkit-linear-gradient(#83888F, #FEFCF7);

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 150px;
            text-align: center;
            color: #83888F;
            z-index: -1;
        }

        &__items {
            min-height: 399px;

            padding: 0 85px;

            display: flex;
            flex-direction: row;
            gap: 30px;

            &-item {
                width: 255px;
                height: 134px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 71.55px;
            }

            &-article {
                font-family: 'Fraunces';
                font-style: normal;
                font-weight: 900px;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #333D4B;
                padding-bottom: 24px;
            }

            &-text {
                text-align: center;
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #333D4B;
            }
        }
    }

    .item_description {}

    .ne_normale {
        padding: 11px 8px 5px 8px;
    }


    .choose_conteiner {


        max-width: $conteiner;
        background-color: #2C343E;
        border-radius: 10px;
        width: 100%;
        height: 577px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-bottom: 350px;

        &__text {
            text-align: center;


            &-title {
                padding-top: 100px;
                font-family: 'Fraunces';
                font-size: 40px;
                /* line-height: 48px; */
                color: #FEFCF7;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 16px;
            }

            &-article {
                font-family: 'Barlow';
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #FEFCF7;
                width: 540px;
            }
        }

        &__greenbox {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: center;
            position: relative;
            top: 20%;





            &-box {

                background-color: #0E8784;
                width: 350px;
                height: 382px;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 56px;
                // justify-content: space-between;

                img {
                    padding-top: 72px;
                }

                .car {
                    padding-top: 11px;
                    padding-bottom: 11px;
                }
            }

            &-text {
                width: 255px;


            }

            &-text_title {

                font-family: 'Fraunces';
                font-style: bold;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #FEFCF7;
                padding-bottom: 24px;

            }

            &-text_article {
                font-family: 'Barlow';
                font-size: 16px;
                line-height: 26px;
                text-align: center;
                color: #FEFCF7;
                padding-bottom: 48px;

            }
        }
    }

    .works_conteiner {
        max-width: $conteiner;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 85px;

        max-height: 565px;
        margin-bottom: 64px;


        &__title {
            text-align: left;
            font-family: 'Fraunces';
            font-size: 24px;
            line-height: 32px;
            color: #83888F;
            margin-bottom: 80px;

        }

        .decoration_navigation {

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            // padding: 0 85px;


            &__item {
                display: flex;
                align-items: center;


                margin-bottom: 67px;
                width: 380px;



                &-circle {
                    width: 31px;
                    height: 31px;
                    border: 2px solid #0E8784;
                    border-radius: 100%;
                }

                &-line {
                    width: 350px;
                    border-top: 2px solid #FDD6BA;
                }
            }
        }

        &__items {

            max-width: 1055px;
            height: 355px;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 95px;



            &-text {
                width: 350px;

            }

            &-text_number {

                font-family: 'Fraunces';
                font-style: normal;
                font-size: 72px;
                line-height: 72px;
                text-align: left;
                color: #FDD6BA;
                margin-bottom: 42px;
            }


            &-text_article {
                font-family: 'Fraunces';
                font-style: normal;
                font-size: 32px;
                line-height: 36px;
                text-align: left;
                color: #333D4B;
                margin-bottom: 42px;
                padding-right: 30px;
            }

            &-text_info {
                font-family: 'Barlow';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                text-align: left;
                color: #333D4B;
            }
        }

        &__text {}

    }

    .create {
        width: 100%;
        max-width: $conteiner;
        margin-bottom: 200px;
        padding: 0 85px;
        display: flex;
        justify-content: flex-start;

    }

}

.footer {
    width: 100%;
    max-width: $conteiner;
    min-height: 120px;
    background-color: #2C343E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;

    &__nav {

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 103px;

        &-logo {
            display: flex;
            justify-content: space-between;
        }

        &-logo_a {
            width: 236px;
            height: 26px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 34px;
            align-items: center;

        }

        &-item_a:hover {
            color: #FEFCF7;
        }
    }

    &__icon {

        &-nav {

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 34px;
            align-items: center;
        }

        &-nav a {
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;

        }


        &-nav_facebook {
            background: url(./img/f.svg);

        }

        &-nav_facebook:hover {
            background-image: url(./img/f2.svg);
        }

        &-nav_twitter {
            background: url(./img/t.svg);
        }

        &-nav_twitter:hover {
            background-image: url(./img/t2.png);
        }

        &-nav_instagram {
            background: url(./img/i.svg);
        }

        &-nav_instagram:hover {
            background-image: url(./img/i2.svg);
        }
    }



}



// @media (max-width: 768px) {
//     .header {
//         max-width: 689px;
//         padding-bottom: 53px;
//         &__nav {
//             gap: 32px;
//         }

//     }
//     main { 
//         max-width: 689px; 
//         display: flex;
//         align-items: center;

//     }
//     html{
//         width: auto;
//     }

//     .our_collection {
//         position: relative;
//         top: 60px;}
//     .collection_items {
//         max-width:573px;
//         display: flex;
//         flex-direction: column;
//         gap: 32px;

//     }
//     .collection_items article img {
//         width: 40%;
//     }
//     .collection {
//         max-width: 689px;
//         padding: 0;

//     }
//     .our_collection{
//         max-width: 689px;

//         font-size: 14vw;
//         white-space: nowrap;


//     }
//     .collection_items>article {

//         max-width: 573px;
//         height: 193px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         gap: 32px;
//         width: 100%;

//     }
//     .collection_items>article>div>p, .collection_items>article>div>h2{
//         text-align: left;
//         width: 100%;
//     }
//     .ne_normale {
//         padding: 11px 8px 5px 12px;



//     }
//     /* 777777777777777777 */
// .main{

// }
//     .choose{
//         max-width: 688px;
//         max-height: 688px; 
//           }
//     .choose>article{

//             padding-top: 56px;
//             font-family:'Fraunces';
//             font-size: 32px;

//         }
//     .choose>article>p{
//             padding: 0 20px;
//         }
//     .green_box {
//         max-width: 768px;
//         display: flex;
//         flex-direction: column;
//         gap:24px;
//         justify-content: center;
//         position: relative;
//         top: 10%
//     } 
//     .green {

//         max-width: 768px;
//         max-height: 180px;
//         border-radius: 8px;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         justify-content: flex-start;
//         gap:56px;
//         padding: 0 20px;
//         }

//         .green>div.text{
//             max-width: 344px;
//             max-height: 98px;

//         }
// .logo>img {
//     padding: 10px;
//     max-width: 55px;
// }
// .green>div.text>p{
//     padding: 0;
// }
// .logo{
//     padding: 0;
//     /* padding: 0 0 0 70px; */
// }
// .green>div.text>p{
//     width: auto;
//     text-align: left;
//     }
//     .green>div.text>h2{
//         text-align: left;
//     }


// }