body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 999999 */
html {
  background: #F5F5F5;
  padding-top: 44px;
  /* width: 100vh; */
}

.transit {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 34px;
  align-items: center;
}
.header__nav-item:hover {
  color: #333D4B;
  cursor: pointer;
}
.header__menu-btn {
  display: none;
}

button {
  border-radius: 6px;
  background: #0E8784;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  padding: 16px 32px;
  border: none;
}

button:hover {
  background-color: #66D2CF;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .backround_conteiner {
  width: 100%;
  max-width: 1280px;
  min-height: 600px;
  background: url(./img/Bitmap.svg);
  background-repeat: no-repeat;
  background-position: 0px -531px;
  border-radius: 10px;
  padding: 117px 85px;
}
main .backround_conteiner .tlo {
  display: none;
}
main .backround_conteiner__content {
  width: 493px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .backround_conteiner__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  color: #FEFCF7;
  line-height: 72px;
  margin-bottom: 32px;
}
main .backround_conteiner__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-bottom: 56px;
}
main .collection_conteiner {
  max-width: 1280px;
  min-height: 525px;
  margin-top: 140px;
  margin-bottom: 200px;
}
main .collection_conteiner__tlo {
  position: relative;
  top: 86px;
  background: -webkit-linear-gradient(#83888F, #FEFCF7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  text-align: center;
  color: #83888F;
  z-index: -1;
}
main .collection_conteiner__items {
  min-height: 399px;
  padding: 0 85px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .collection_conteiner__items-item {
  width: 255px;
  height: 134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 71.55px;
}
main .collection_conteiner__items-article {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900px;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  padding-bottom: 24px;
}
main .collection_conteiner__items-text {
  text-align: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}
main .ne_normale {
  padding: 11px 8px 5px 8px;
}
main .choose_conteiner {
  max-width: 1280px;
  background-color: #2C343E;
  border-radius: 10px;
  width: 100%;
  height: 577px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 350px;
}
main .choose_conteiner__text {
  text-align: center;
}
main .choose_conteiner__text-title {
  padding-top: 100px;
  font-family: "Fraunces";
  font-size: 40px;
  /* line-height: 48px; */
  color: #FEFCF7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 16px;
}
main .choose_conteiner__text-article {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FEFCF7;
  width: 540px;
}
main .choose_conteiner__greenbox {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  position: relative;
  top: 20%;
}
main .choose_conteiner__greenbox-box {
  background-color: #0E8784;
  width: 350px;
  height: 382px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
}
main .choose_conteiner__greenbox-box img {
  padding-top: 72px;
}
main .choose_conteiner__greenbox-box .car {
  padding-top: 11px;
  padding-bottom: 11px;
}
main .choose_conteiner__greenbox-text {
  width: 255px;
}
main .choose_conteiner__greenbox-text_title {
  font-family: "Fraunces";
  font-style: bold;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  padding-bottom: 24px;
}
main .choose_conteiner__greenbox-text_article {
  font-family: "Barlow";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  padding-bottom: 48px;
}
main .works_conteiner {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 85px;
  max-height: 565px;
  margin-bottom: 64px;
}
main .works_conteiner__title {
  text-align: left;
  font-family: "Fraunces";
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin-bottom: 80px;
}
main .works_conteiner .decoration_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
main .works_conteiner .decoration_navigation__item {
  display: flex;
  align-items: center;
  margin-bottom: 67px;
  width: 380px;
}
main .works_conteiner .decoration_navigation__item-circle {
  width: 31px;
  height: 31px;
  border: 2px solid #0E8784;
  border-radius: 100%;
}
main .works_conteiner .decoration_navigation__item-line {
  width: 350px;
  border-top: 2px solid #FDD6BA;
}
main .works_conteiner__items {
  max-width: 1055px;
  height: 355px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 95px;
}
main .works_conteiner__items-text {
  width: 350px;
}
main .works_conteiner__items-text_number {
  font-family: "Fraunces";
  font-style: normal;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  color: #FDD6BA;
  margin-bottom: 42px;
}
main .works_conteiner__items-text_article {
  font-family: "Fraunces";
  font-style: normal;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
  color: #333D4B;
  margin-bottom: 42px;
  padding-right: 30px;
}
main .works_conteiner__items-text_info {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #333D4B;
}
main .create {
  width: 100%;
  max-width: 1280px;
  margin-bottom: 200px;
  padding: 0 85px;
  display: flex;
  justify-content: flex-start;
}

.footer {
  width: 100%;
  max-width: 1280px;
  min-height: 120px;
  background-color: #2C343E;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
}
.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 103px;
}
.footer__nav-logo {
  display: flex;
  justify-content: space-between;
}
.footer__nav-logo_a {
  width: 236px;
  height: 26px;
}
.footer__nav-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 34px;
  align-items: center;
}
.footer__nav-item_a:hover {
  color: #FEFCF7;
}
.footer__icon-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 34px;
  align-items: center;
}
.footer__icon-nav a {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.footer__icon-nav_facebook {
  background: url(./img/f.svg);
}
.footer__icon-nav_facebook:hover {
  background-image: url(./img/f2.svg);
}
.footer__icon-nav_twitter {
  background: url(./img/t.svg);
}
.footer__icon-nav_twitter:hover {
  background-image: url(./img/t2.png);
}
.footer__icon-nav_instagram {
  background: url(./img/i.svg);
}
.footer__icon-nav_instagram:hover {
  background-image: url(./img/i2.svg);
}/*# sourceMappingURL=styles.css.map */